
 body{
   width:auto;
   height: auto;
   display: flex;
   flex-direction: column;
   margin-left: 1px;
   margin-right: 1px;
   padding-left: 2px;
   padding-right: 1px;
   background-color: #02010a;
   font-family: 'Ranga', cursive;
 }
header{
  background-color:  #5b7989;
  width: 100%;
  text-align:left;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px #02010a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  }
  h1::selection{
    background: white;
  }
 nav {
   padding-top:30px;
   margin: 1px;
   color: white;
   text-decoration: none;
   margin-left: auto;
   display: flex;
}
a{
  display:flex;
  margin-left: 20px;
  padding: 2px;
  color: white;
  font-size: 20px;
  text-decoration: none
}

.imagen-central{
  background-color: #82c3a6;
  margin: 0;
  width: 100%
}
section{
  background-color: #d5c75f;
  padding-top: 20px;
  padding-left:50px;
  display: flex;
  flex-direction: column;
}
#fotos{
  border: 2px solid black;
  width: 90%;
  box-shadow:  2px #02010a;
}
.contenedor{
  display: flex;
  flex-direction: row;
}
#foto-blur img{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
#foto-sepia img{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}
#foto-grayscale img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

 footer{
   background-color:  #C6d5c5;
   display: flex;
   flex-direction: row;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   height:auto;
   width: auto;
   padding-top: 0px;
   padding-bottom: 10px;

 }
#contacto{
margin-left: 100px;
}
#Terminos{
  margin-left: 100px;
}
#Redessociales{
  margin-left: 100px;
}
#Derechos{
  margin-left: 100px;
}
#hiper{
  width: 20%;
  height: 20%;
  padding-left: auto;
}

@media screen and (max-width: 900px) {
header{
  width: 100%;
  margin: 0;
  display: block;
  text-align: center;
  }

.contenedor{
display:-webkit-flex;
display:flex;
-webkit-flex-direction:column;
-moz-flex-direction:column;
flex-direction:column;
width:100%;
padding-bottom:0 auto;
  }

  footer{
    width: 100%;
    margin: 0;
    display:block;
    padding: 0;
    padding-bottom: 30px;
    }

}
