
@media (min-width:900px) {
  .contenedor2{
    color: red;
    }
}
@media (max-width:900px)  {
  .contenedor2{
    color:blue;
  }
}
 body{
   width: auto;
   height: auto;
   display: flex;
   flex-direction: column;
   margin-left: 1px;
   margin-right: 1px;
   padding-left: 2px;
   padding-right: 1px;
   background-color: #02010a;
   font-family: 'Dancing Script', cursive;
 }
header{
  background-color:  #5b7989;
  height: 100%;
  text-align:left;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px #02010a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  animation-name: slidein;
  animation-duration: 3s;
  }
  @-webkit-keyframes slidein {
    from {
      margin-top: 150%;
    }
    to {
    margin-top: -5%;
   }
  }

  h1::selection{
    background: white;
  }
 nav {
  padding-top:30px;
  margin: 1px;
  color: white;
  text-decoration: none;
  margin-left: auto;
  display: block;
}
a{
  display:inline;
  margin-left: 20px;
  padding: 2px;
  color: white;
  font-size: 20px;
  text-decoration: none
}

.imagen-central{
  background-color: #82c3a6;
  margin: 0;

}
#imagen-1{
  box-shadow: 10px 10px 10px  #82c3a6;
  border:2px solid black;
  width: 50%;
}
section{
  background-color: #d5c75f;
  display: -webkit-flex;
  display: flex;
  text-align: center;
  width: 100%;
}

.imagen-secundaria1{
  box-shadow: 10px 10px 10px  #82c3a6;
  border:2px solid black;
  text-align: center;


}
.contenedor1:hover{transition: all 5s;
transform: rotate(10deg);
-webkit-animation-direction: reverse;
animation-direction: reverse;
moz-transform: rotate(-10deg); // Firefox
-o-transform: rotate(-10deg); // Safari and Chrome
-ms-transform: rotate(-10deg); // Opera
}
.imagen-secundaria2{
  box-shadow: 5px 5px 5px  #82c3a6;
  border:2px solid black;

}
 .contenedor2:hover{
   transition: all 3s;
   transform: translate(20px,-5px);

 }
 footer{
   background-color:  #C6d5c5;
   display: flex;
   flex-direction: row;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   height:auto;
   padding-top: 0px;
   padding-bottom: 10px;
 }
#contacto{
margin-left: 50px;
}
#Terminos{
  margin-left: 50px;
}
#Redessociales{
  margin-left: 50px;
  padding: 1px;
}
.hiper {
vertical-align: middle;
width: 15%;
}

#Derechos{
  margin-left:0px;
}

@media screen and (max-width: 900px) {
header{
  width: 100%;
  margin: 0;
  display: block;
  text-align: center;
  }

section{
  width: 100%;
  margin: 0;
  display:block;
  padding: 0;
  }

  footer{
    width: 100%;
    margin: 0;
    display:block;
    padding-bottom: 30px;
    }
}
